@use './variables' as vars;

// Estilos globais aplicados ao 'body' e tipografia base

body {
  font-family: vars.$font-base;
  background-color: vars.$primary-color;
  color: vars.$text-color;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  padding: 1rem;
}